.detail {
  align-items: center;
  background: rgba($c-grey-2, 0.5);
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  &__modal {
    background-color: $c-grey-3;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 3rem 2rem;
    width: 45rem;

    &-close {
      background: none;
      border: none;
      font-size: 2.5rem;
      margin-left: auto;
      padding: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.pokemon {
  &__header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 100%;
  }

  &__number {
    color: $c-blue-1;
    font-size: 3rem;
    font-weight: 900;
    margin-right: 1rem;
    text-align: left;
  }

  &__name {
    color: $c-blue-1;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__image {
    align-items: center;
    background-color: rgba($c-grey-1, 0.2);
    border: 0.1rem solid rgba($c-grey-1, 0.2);
    display: flex;
    height: 25rem;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;

    @include centralizeImage;
  }

  &__types {
    display: flex;
    margin-bottom: 2rem;

    &-item {
      background-color: $c-grey-1;
      border-radius: 100em;
      border-style: solid;
      border-width: 0.15rem;
      height: 1.2rem;
      position: relative;
      width: 1.2rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &::after {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 100em;
        content: '';
        display: block;
        height: 40%;
        position: absolute;
        right: 0.2rem;
        top: 0.1rem;
        width: 40%;
      }

      @include types;
    }
  }

  &__feature {
    color: $c-grey-2;
    display: flex;
    flex-direction: column;

    &-item {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      strong {
        text-transform: capitalize;
      }
    }
  }
}
