// COLORS

$c-blue-1: #457b9d;
$c-blue-2: #1d3557;
$c-green-1: #f1faee;
$c-green-2: #a8dadc;
$c-red-1: #e63946;
$c-grey-1: #6c757d;
$c-grey-2: #343a40;
$c-grey-3: #fffefa;

// FONTS

$f-bebas: 'Bebas Neue', cursive;
$f-Roboto: 'Roboto', sans-serif;

// SIZES

$w-fullhd: 1344px;
$w-widescreen: 1152px;
$w-desktop: 960px;
$w-mobile: 768px;
