@import '~normalize.css/normalize.css';
@import './variables';
@import './mixins';

html {
  font-size: 62.5%;
}

body {
  background-color: $c-green-1;
  font-family: $f-Roboto;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  @include containerSize;
}

@import './header';
@import './list';
@import './card';
